.signup-nav{
    color: white;
}
.signup-nav .nav-first{
    background: #192334;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signup-nav .nav-first .left,
.signup-nav .nav-first .right,
.signup-nav .nav-second .left,
.signup-nav .nav-second .right{
    display: flex;
    gap: 8px 20px;
}
.signup-nav .nav-first .right{
    gap: 8px 30px;
    font-size: 15px;
}
.signup-nav .nav-first .left .item:nth-child(1){
    display: flex;
    gap: 8px;
    border-bottom: 1px solid white;
    height: fit-content;
}
.signup-nav .nav-first .left .item .img-txt p:nth-child(1){
    font-size: 10px !important;
}
.signup-nav .nav-first .left .item .img-txt p:nth-child(2){
    font-size: 13.5px !important;
}
.signup-nav .nav-first img{
    width: 20px;
    height: 20px;
}
.signup-nav .nav-second{
    background: #1E293C;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13.5px ;
}
.signup-nav .dropdown-nav-menu{
    color: #1E293C;
    position: relative;
}
.signup-nav .dropdown-nav-menu div.menus{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    padding: 10px 20px;
    z-index: 10;
    right: 80px;
}
.signup-nav .nav-second .right{
    align-items: center;
}
.signup-nav .nav-second .left .item:nth-child(2) form{
    background: #101928;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-left: 20px;
    width: 324px;
    height: 38px;
}
.signup-nav .nav-second .left .item:nth-child(2) form button{
    padding: 0;
    line-height: 0;
    background-color: transparent;
    color: #d7d7d7;
    border: none;
    width: 40px;
    font-size: 18px;
}
.signup-nav .nav-second .left .item:nth-child(2) form input{
    color: #d7d7d7;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    flex: 1;
}
.signup-nav .nav-second .right .item:nth-child(3),
.signup-nav .nav-second .right .item:nth-child(4){
    background: rgb(30, 30, 30);
    border-radius: 15px;
    padding:7px 12px;
}


/* ************************** HOVER CSS ************************** */


.signup-nav .nav-first .left .item:nth-child(1) img:hover,
.signup-nav .nav-first .right .item:hover,
.signup-nav .nav-second .left .item:nth-child(1):hover,
.signup-nav .nav-second .right .item:hover{
    cursor: pointer;
}