.home-nav{
  padding: 20px 80px 10px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: 10;
  background-color: transparent; 
}  
.home-nav.scrolled {
  background-color: #1E293C;;
  padding: 10px 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}
.home-nav .right{
  display: flex;
}
.home-nav .right .item:nth-child(1),
.home-nav .right .item:nth-child(2),
.home-nav .right .item:nth-child(3),
.home-nav .right .item:nth-child(4),
.home-nav .right .item:nth-child(5),
.home-nav .right .item:nth-child(6){    
  border-right: 1px solid #888484;
  padding: 5px 17.5px;
}



/* ************************** HOVER CSS ************************** */

